aiofiles==24.1.0
aioredis==2.0.1
arq==0.26.0
beautifulsoup4==4.12.3
fastapi==0.111.0
httpx==0.27.0
logfire[fastapi]==0.45.0
pydantic==2.7.4
pydantic-settings==2.3.4
PyJWT==2.8.0
requests==2.32.3
sentry-sdk[fastapi]==2.7.1
uvicorn==0.30.1
