aiofiles==24.1.0
aioredis==2.0.1
arq==0.26.3
fastapi==0.115.12
httpx==0.28.1
logfire[fastapi]==3.16.1
pydantic==2.11.5
pydantic-settings==2.9.1
PyJWT==2.10.1
requests==2.32.3
sentry-sdk[fastapi]==2.29.1
starlette==0.46.2
uvicorn==0.34.3
