aiofiles==24.1.0
aioredis==2.0.1
arq==0.26.3
fastapi==0.116.1
httpx==0.28.1
logfire[fastapi]==4.3.6
pydantic==2.11.7
pydantic-settings==2.10.1
PyJWT==2.10.1
requests==2.32.5
sentry-sdk[fastapi]==2.35.2
starlette==0.47.3
uvicorn==0.35.0
